.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 100px;
    
  }
  

  .button {
    display: inline-block; 
    padding: 1.5em 3em;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px currentcolor;
    transition: background 0.8s ease;
    margin: 40px;
  }
  
  
  .button:hover {
    background-color: #424141;
    color: #81c9fa;
  }
  
  .container p {
    font-size: 20px;
    color: aliceblue;
  }

 